Description=SCIO analyze service

[Service]
User=scio
ExecStart=scio-analyze
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=scio-analyze
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=3600
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
