[Unit]
Description=SCIO analyze service
After=beanstalkd.service elasticsearch.service
Wants=beanstalkd.service elasticsearch.service


[Service]
User=scio
ExecStart=/usr/local/bin/scio-analyze
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=scio-analyze
Restart=on-failure
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
