[Unit]
Description=SCIO api service
After=beanstalkd.service elasticsearch.service
Wants=beanstalkd.service elasticsearch.service

[Service]
User=scio
ExecStart=/usr/local/bin/scio-api
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=scio-api
Restart=on-failure
RestartSec=5
StartLimitInterval=3600
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
