repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        language: python
        entry: isort
        types: [python]
        additional_dependencies: [isort==5.10.1]
        args: ["--profile", "black"]

  - repo: local
    hooks:
      - id: black
        name: black
        language: python
        entry: black
        types: [python]
        additional_dependencies: [black==22.3.0]

  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: python
        entry: flake8
        types: [python]
        additional_dependencies: [flake8==4.0.1]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: python
        entry: mypy
        types: [python]
        additional_dependencies: [mypy==0.950]
        args: ["--strict", "--install-types", "--non-interactive"]

  - repo: local
    hooks:
    -   id: pytest
        name: pytest
        entry: pytest
        language: python
        # Only run if python files have changed
        types: [python]
        pass_filenames: false
        always_run: true

  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trailing-whitespace
        entry: trailing-whitespace-fixer
        language: python
        types: [text]
        additional_dependencies: [pre-commit-hooks==4.0.1]

      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        language: python
        types: [text]
        additional_dependencies: [pre-commit-hooks==4.0.1]

      - id: check-json
        name: check-json
        entry: check-json
        language: python
        types: [json]
        additional_dependencies: [pre-commit-hooks==4.0.1]

      - id: check-added-large-files
        name: check-added-large-files
        entry: check-added-large-files
        language: python
        types: [file]
        additional_dependencies: [pre-commit-hooks==4.0.1]

      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        language: python
        types: [yaml]
        additional_dependencies: [pre-commit-hooks==4.0.1]

      - id: debug-statements
        name: debug-statements
        entry: debug-statement-hook
        language: python
        types: [python]
        additional_dependencies: [pre-commit-hooks==4.0.1]
